<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Lass</title>
</head>

<body>
    <p>Hi! This is the website for Lass, a modular game development kit.</p>

    <p>This website is a work in progress, just like Lass itself. In the meantime, here are some useful links:</p>

    <ul>
        <li><a href="https://github.com/lassgdk">GitHub</a>—where we keep the source code for Lass and other related projects</li>
        <li><a href="http://tracker.lassgdk.com">Tracker</a>—issue trackers and other project management tools for contributors to our projects</a></li>
        <li><a href="https://twitter.com/LassGDK">Twitter</a>—the official Lass Twitter feed
    </ul>

</html>